body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1{
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3, a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  color: #40514E;
}

.middle-container{
  color: #40514E;
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
}

.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-bottom: 100px;
}

.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  padding-bottom: 100px;
}

.skill-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chess-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #11cdd4);
  background-image: -moz-linear-gradient(top, #3cb0fd, #11cdd4);
  background-image: -ms-linear-gradient(top, #3cb0fd, #11cdd4);
  background-image: -o-linear-gradient(top, #3cb0fd, #11cdd4);
  background-image: linear-gradient(to bottom, #3cb0fd, #11cdd4);
  text-decoration: none;
}
